body {
  font-family: arial, 'sans serif';
  display: flex;
  flex-direction: column;
  margin: 0px;
}

/* HERO SECTION */

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  font-size: 18px;
  color: #E5E7EB;
}

.hero > * {
  max-width: 950px;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-bottom: 0px;
}

.header p {
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-content {
  display: flex;
  margin: auto;
  gap: 24px;
}

.hero-content img {
  width: 50%;
  object-fit: cover;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0px;
}

/* INFO SECTION */

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin: 42px
}

.info-content {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 95px;
  justify-content: center;
  gap: 32px;
}
.info-content img {
  max-width: 100%;
  margin-bottom: 12px;
  border-radius: 7%;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  text-align: center;
}

/* QUOTE SECTION */

.quote {
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px;
}

.quote-body {
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
  max-width: 650px;
} 

.author {
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  color: #1F2937;
  text-align: end;
}

/* SIGN UP SECTION */

.signup {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.signup-card {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 48px 120px;
  border-radius: 10px;
  display: flex;
  min-width: 700px;
  justify-content: space-between;
}

.signup-card h2,
.signup-card p {
  margin: 4px;
}

.signup-card button {
  border: 2px solid #F9FAF8;
  flex: none;
  align-self: flex-end;
}

/* FOOTER SECTION */

.footer {
  background-color: #1f2937;
}

/* SIGN UP BUTTON */

button {
  background-color: #3882F6;
  padding: 10px 30px;
  border: none;
  font-weight: 900;
  color: #E5E7EB;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}