body {
  font-family: arial, 'sans serif';
  display: flex;
  flex-direction: column;
  margin: 0px;
}

button {
  background-color: #3882F6;
  padding: 10px 30px;
  border: none;
  color: #E5E7EB;
  font-weight: 900;
  border-radius: 8px;
}

/* HERO SECTION */

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  color: #E5E7EB;
  font-size: 18px;
}

.hero > * {
  max-width: 950px;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-bottom: 0px;
}

.header p {
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-content {
  display: flex;
  margin: auto;
  gap: 24px;
}

.hero-content img {
  width: 50%;
  object-fit: cover;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0px;
}

/* INFO SECTION */

/* test style */
.info img{
  max-width: 200px;
}

/* QUOTE SECTION */

.quote {
  background-color: #bdbdbd;
}

/* SIGN UP SECTION */

/* FOOTER SECTION */

.footer {
  background-color: #1f2937;
}